<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login - TechSavvy</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='tech_blog_styles.css') }}">
    <style>
        .flash-message {
            color: white;
            background-color: red;
            padding: 10px;
            margin-bottom: 20px;
            border-radius: 5px;
            text-align: center;
        }
        /* Additional styles can be added here */
    </style>
</head>
<body>
    <div class="auth-container">
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <div class="flash-message">
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            </div>
          {% endif %}
        {% endwith %}

        <h2>Login</h2>
        <form method="POST" action="{{ url_for('login') }}">
            <input type="text" name="username" placeholder="Username" required>
            <input type="password" name="password" placeholder="Password" required>
            <!-- TOTP Field -->
            <input type="text" name="totp_token" placeholder="123456" pattern="\d{6}" title="Six digit TOTP code" required>
            <button type="submit">Login</button>
        </form>
        <p>Don't have an account? <a href="{{ url_for('register') }}">Register</a></p>
    </div>
</body>
</html>
