<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register - TechSavvy</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='tech_blog_styles.css') }}">
    <style>
        .oauth-button {
            display: block;
            background-color: #007bff;
            color: white;
            padding: 10px 15px;
            text-decoration: none;
            border-radius: 5px;
            text-align: center;
            margin-top: 20px;
        }
        .oauth-button:hover {
            background-color: #0056b3;
        }
    </style>
</head>
<body>
    <header>
        <div class="container">
            <h1>Register</h1>
        </div>
    </header>
    <main>
        <div class="container">
            <! -- Display flashed message username taken -->
            {% with messages = get_flashed_messages() %}
              {% if messages %}
                <ul class="flashes">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
                </ul>
              {% endif %}
            {% endwith %}

            <form action="{{ url_for('register') }}" method="post">
                <label for="username">Username</label>
                <input type="text" id="username" name="username" required>
                <label for="password">Password</label>
                <input type="password" id="password" name="password" required>
                <button type="submit">Register</button>

                 <!-- Display Password Requirements -->
              <div class="password-requirements">
                    <p>Password must be at least 8 characters long and include:</p>
                    <ul>
                        <li>At least one number</li>
                        <li>At least one special character (!@#$%^&*)</li>
                        <li>At least one uppercase letter</li>
                        <li>At least one lowercase letter</li>
                    </ul>
                </div>
            </form>
        </div>
    </main>
    <footer>
        <div class="container">
            <p>&copy; 2023 TechSavvy</p>
        </div>
    </footer>
</body>
</html>